In [24]:
import pandas as pd

df = pd.read_csv('/content/BankChurners.csv')
column_names = df.columns.tolist()
print(column_names)

['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category', 'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']

In [25]:
df.head(5)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [26]:
# Drop the last two columns since they are not useful for analysis
df.drop(df.columns[-2:], axis=1, inplace=True)

# Drop any rows with missing values
df.dropna(inplace=True)

# Remove any whitespace from column names
df.columns = df.columns.str.strip()

# Convert 'Income_Category' column to a categorical variable
df['Income_Category'] = pd.Categorical(df['Income_Category'], categories=['Less than $40K', '$40K - $60K', '$60K - $80K', '$80K - $120K', '$120K +'], ordered=True)

# Convert 'Gender' column to a binary variable
df['Gender'] = pd.Series(df['Gender'] == 'M', dtype=int)

# Convert 'Attrition_Flag' column to a binary variable
df['Attrition_Flag'] = pd.Series(df['Attrition_Flag'] == 'Attrited Customer', dtype=int)

# Convert 'Education_Level' column to an ordered categorical variable
df['Education_Level'] = pd.Categorical(df['Education_Level'], categories=['Uneducated', 'High School', 'College', 'Graduate', 'Post-Graduate', 'Doctorate'], ordered=True)

In [27]:
df.head(5)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,0,45,1,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,0,49,0,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,0,51,1,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,0,40,0,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,0,40,1,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [28]:
# Count the number of null or empty values in each row
null_counts = df.isnull().sum(axis=1)

# Remove rows with more than 5 null or empty values
df = df[null_counts <= 5]

In [29]:
df = df.drop('Attrition_Flag', axis=1)

In [32]:
import pandas as pd

def preprocess_row(row):
    # Define the context
    context = f"Customer {row['CLIENTNUM']} is a {row['Customer_Age']}-year-old {row['Gender']} with {row['Education_Level']} education, {row['Dependent_count']} dependents, and {row['Income_Category']} income category. They have {row['Total_Relationship_Count']} total relationships with the bank, a credit limit of {row['Credit_Limit']} dollars, and a revolving balance of {row['Total_Revolving_Bal']} dollars."

    # Define a list of questions and answers
    qa_pairs = []

    # Add question and answer for total transactions amount
    question = f"How much money did Customer {row['CLIENTNUM']} spend on transactions?"
    answer = str(row['Total_Trans_Amt'])
    qa_pairs.append((question, answer))

    # Add question and answer for average utilization ratio
    question = f"What is the average utilization ratio for Customer {row['CLIENTNUM']}?"
    answer = str(row['Avg_Utilization_Ratio'])
    qa_pairs.append((question, answer))

    # Add question and answer for credit limit
    question = f"What is the credit limit for Customer {row['CLIENTNUM']}?"
    answer = str(row['Credit_Limit'])
    qa_pairs.append((question, answer))

    # Add question and answer for months inactive in last 12 months
    question = f"How many months was Customer {row['CLIENTNUM']} inactive in the last 12 months?"
    answer = str(row['Months_Inactive_12_mon'])
    qa_pairs.append((question, answer))

    # Create a list of lists representing the dataset rows
    dataset_rows = []
    for i, (question, answer) in enumerate(qa_pairs):
        # Define the answer text and start position
        try:
            answer_text = answer
            answer_start = context.index(answer_text)
        except ValueError:
            answer_text = ""
            answer_start = -1

        # Create a list representing the dataset row
        dataset_row = [f"{row['CLIENTNUM']}-{i}", context, question, answer_text, answer_start]

        dataset_rows.append(dataset_row)

    return dataset_rows


# Preprocess each row and flatten the resulting list of lists
qa_rows = [row for rows in df.apply(preprocess_row, axis=1) for row in rows]

# Write the output CSV file
with open('qa.csv', 'w') as f:
    f.write('id,context,question,answer_text,answer_start\n')
    for row in qa_rows:
        f.write(','.join(str(field) for field in row) + '\n')

In [39]:
import pandas as pd
import torch
from transformers import BertForQuestionAnswering, BertTokenizer

# Load the QA CSV file into a pandas DataFrame
qa_df = pd.read_csv('/content/qa.csv')

# Initialize the tokenizer and model
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertForQuestionAnswering.from_pretrained('bert-base-uncased')

# Set the device to GPU if available, otherwise use CPU
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
model.to(device)

# Define a function to tokenize a row of data and return the input IDs and attention masks
def tokenize_row(row):
    encoding = tokenizer.encode_plus(row['question'], row['context'], max_length=512, pad_to_max_length=True, return_tensors='pt')
    input_ids = encoding['input_ids'].squeeze()
    attention_mask = encoding['attention_mask'].squeeze()
    return input_ids, attention_mask

# Tokenize the questions and contexts and add them to the DataFrame
qa_df['input_ids'], qa_df['attention_mask'] = zip(*qa_df.apply(tokenize_row, axis=1))

# Define the training function
def train(model, dataloader, optimizer, device):
    model.train()
    total_loss = 0
    for batch in dataloader:
        input_ids = batch['input_ids'].to(device)
        attention_mask = batch['attention_mask'].to(device)
        start_positions = batch['start_positions'].to(device)
        end_positions = batch['end_positions'].to(device)

        optimizer.zero_grad()

        loss, _, _ = model(input_ids, attention_mask=attention_mask, start_positions=start_positions, end_positions=end_positions)
        loss.backward()
        optimizer.step()

        total_loss += loss.item()

    return total_loss / len(dataloader)

# Define the evaluation function
def evaluate(model, dataloader, device):
    model.eval()
    total_loss = 0
    with torch.no_grad():
        for batch in dataloader:
            input_ids = batch['input_ids'].to(device)
            attention_mask = batch['attention_mask'].to(device)
            start_positions = batch['start_positions'].to(device)
            end_positions = batch['end_positions'].to(device)

            loss, _, _ = model(input_ids, attention_mask=attention_mask, start_positions=start_positions, end_positions=end_positions)
            total_loss += loss.item()

    return total_loss / len(dataloader)

# Define the main function to train the model
def main():
    # Split the data into training and validation sets
    train_df = qa_df.sample(frac=0.8, random_state=42)
    val_df = qa_df.drop(train_df.index)

    # Create PyTorch datasets and dataloaders
    from torch.utils.data import Dataset, DataLoader

    class QADataset(Dataset):
        def __init__(self, df):
            self.df = df

        def __len__(self):
            return len(self.df)

        def __getitem__(self, index):
            row = self.df.iloc[index]
            input_ids = row['input_ids']
            attention_mask = row['attention_mask']
            start_position = row['answer_start']
            end_position = row['answer_start'] + len(row['answer_text'])
            return {'input_ids': input_ids, 'attention_mask': attention_mask, 'start_positions': start_position, 'end_positions': end_position}

    train_dataset = QADataset(train_df)
    val_dataset = QADataset(val_df)

    train_loader = DataLoader(train_dataset, batch_size=8, shuffle=True)
    val_loader = DataLoader(val_dataset, batch_size=8)

    # Define the optimizer and learning rate scheduler
    optimizer = torch.optim.AdamW(model.parameters(), lr=2e-5)
    scheduler = torch.optim.lr_scheduler.ReduceLROnPlateau(optimizer, mode='min', factor=0.1, patience=3, verbose=True)

    # Train the model for 3 epochs
    for epoch in range(4):
        train_loss = train(model, train_loader, optimizer, device)
        val_loss = evaluate(model, val_loader, device)
        scheduler.step(val_loss)

        print(f'Epoch {epoch + 1} train loss: {train_loss:.3f} | val loss: {val_loss:.3f}')

    # Save the fine-tuned model
    model.save_pretrained('fine_tuned_bert_qa')



    if name == 'main':
      main()

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForQuestionAnswering: ['cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight']
- This IS expected if you are initializing BertForQuestionAnswering from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForQuestionAnswering from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForQuestionAnswering were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['qa_outputs.weight', 'qa_outputs.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.9/dist-packages/transformers/tokenization_utils_base.py:2354: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

In [41]:
model.save_pretrained('/content/fine_tuned_bert_qa')

In [46]:
import torch
from transformers import BertForQuestionAnswering, BertTokenizer

model_dir = '/content/fine_tuned_bert_qa/'

# Load the model and tokenizer
model = BertForQuestionAnswering.from_pretrained(model_dir)
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

# Define a function to predict the answer given a question and a context
def predict_answer(question):
    # Tokenize the input question and context
    encoded_input = tokenizer.encode_plus(question, add_special_tokens=True, return_tensors='pt')
    input_ids = encoded_input['input_ids'].to(device)
    attention_mask = encoded_input['attention_mask'].to(device)

    # Generate predictions for the input
    start_scores, end_scores = model(input_ids, attention_mask=attention_mask)
    start_index = torch.argmax(start_scores)
    end_index = torch.argmax(end_scores)

    # Decode the predicted answer from the input IDs
    answer_tokens = input_ids[0][start_index:end_index+1]
    answer = tokenizer.decode(answer_tokens)

    return answer


# Test the function on a sample question
question = "What is the credit limit for Customer 708790833?"
answer = predict_answer(question)
print(answer)

TypeError: ignored